@import './common/el-icon.scss';
@import './common/el-button.scss';
@import './common/el-dialog.scss';
@import './common/el-form.scss';

// table
.header-area {
  // height: 0.1875rem;
  height: 50px;
  display: flex;
  // gap: 0.5rem;
  align-items: center;
  padding: 0 0.1171875rem;
  font-size: 20px;

  &.background {
    background-color: $headerBackgroundColor;
  }

  &.border {
    border-bottom: $headerBackgroundColor solid 1px;
  }

  .right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.table-wrapper {
  height: 100%;
  background-color: #fff;
  padding: 0 20px;

  .tool-area {
    display: flex;
    margin: 1rem 0;
    gap: 1rem;
    align-items: center;
    flex-wrap: nowrap;
    overflow: auto;

    .right {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .search-input {
      width: 300px;
    }
  }

  .el-table {
    .el-table__header {
      th {
        background-color: #f0f3f8;
      }
    }

    .cell {
      text-align: center;
    }

    .table-action {
      .cell {
        display: flex;
        gap: 5px;
        justify-content: center;

        .el-icon {
          cursor: pointer;
        }
      }
    }
  }

  .el-pagination {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }
}

.el-message-box {
  .el-icon {
    &.el-message-box__status {
      position: absolute;
    }
  }
}

.el-input__suffix-inner,
.el-link--inner,
.el-input__prefix-inner {
  display: flex;
  align-items: center;
}

.alert-info {
  color: $color-info;
  padding: 0 1rem;

  &::before {
    content: '*';
    color: $color-danger;
    vertical-align: middle;
    margin-right: 5px;
  }
}

// primary title
.title--primary {
  position: relative;
  word-break: keep-all;
  // font-size: 0.0859375rem;
  font-size: 18px;

  // &::before {
  //   position: absolute;
  //   top: 0.01953125rem;
  //   // left: -0.0703125rem;
  //   left: -18px;
  //   // width: 0.05078125rem;
  //   // height: 0.05078125rem;
  //   width: 15px;
  //   height: 15px;
  //   content: ' ';
  //   background: linear-gradient(216deg, #96bcff 0%, #4376ff 100%);
  //   box-shadow: 2px 2px 1px #96bcff;
  // }
}

// secondary title
.title--secondary {
  position: relative;
  // font-size: 0.0703125rem;
  font-size: 16px;
  word-break: keep-all;
  padding-left: 0.05859375rem;

  // &::before {
  //   position: absolute;
  //   top: 0.015625rem;
  //   left: 0.0011125rem;
  //   // width: 0.0390625rem;
  //   // height: 0.046875rem;
  //   width: 10px;
  //   height: 15px;
  //   content: ' ';
  //   background-image: url('../assets/icons/title-before.svg');
  // }
}

// tree
.custom-tree-node {
  width: 80%;
  display: flex;
  position: relative;

  &>div {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .action {
    width: auto;
    height: 100%;
    position: absolute;
    right: -0.078125rem;
    visibility: hidden;
    padding: 0 0.01953125rem;
    background-color: #ffffffaa;
  }
}