.el-dialog {
  .el-dialog__body {
    border-top: 1px solid rgba(67, 118, 255, 0.1);
    padding: 10px;
    border-bottom: 1px solid rgba(67, 118, 255, 0.1);
  }

  .el-dialog__footer {
    text-align: center;
  }
}